html{
    width: 1200px;
    margin: 0 auto;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
button{
    background-color: transparent;
    align-self: center;
    vertical-align: middle;
}